pandas
pydantic
datasets
pillow
accelerate
bitsandbytes
black
deepspeed
distilabel[ray,openai]
einops
flake8
hf_transfer
huggingface-hub
isort
liger_kernel
math-verify
packaging
parameterized
pytest
safetensors
transformers
trl
wandb
qwen_vl_utils
